<!DOCTYPE html>
<html>
  <head>
    <title>Bee Cafe</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to <strong>Bee Cafe</strong></h1>
        <p class="lead">Choose and taste at your place</p>
      </div>
      <br /><br /><br />
      <center>
        <form action="/login" method="post">
          <div class="form-group" style="width: 50%;">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group" style="width: 50%;">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
              name="password"
            />
          </div>
          
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br><br>
        <a href="/signup">New User? Create an account</a>
      </center>
    </div>
  </body>
</html>
  