<!DOCTYPE html>
<html>
  <head>
    <title>Bee Cafe</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to <strong>Bee Cafe</strong></h1>
        <p class="lead">Choose and taste at your place</p>
      </div>
      <br><br><br>
      <center>
          <a href="/login" class="btn btn-outline-success btn-lg">Buy Food</a><br><br><br>
        
          <a href="/admin" class="btn btn-outline-danger btn-lg">Admin Login</a><br><br><br><br>

      </center>
    </div>
  </body>
</html>
