body {
    background-image: url(images/Live-Weather-Wallpaper-Apps.jpg);
    background-size: cover;
    margin: 80px;
}

.container {
    margin: 0 auto;
    width: 65%;
    background-color: ivory;
    opacity: 0.8;
    padding-bottom: 60px;
    border-radius: 20px 20px 0 0;
}

.search-box {
    margin: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: left;
    color: dodgerblue;
    text-transform: uppercase;
    background-color: snow;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 2px;
    border: 1px solid black;
}

.search-btn {
    background-color: dodgerblue;
    border: none;
    padding: 11px 20px 11px;
    position: relative;
    right: 52px;
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
}


.search-btn:hover {
    background-color: rgb(0, 118, 253);
    transition: 0.5s;
    cursor: pointer;
}

.place-name {
    font-family: sans-serif;
    color: rgb(0, 132, 255);
    margin-left: 50px;
    position: absolute;
    top: 170px;
    letter-spacing: 1px;
}

.type {
    margin-left: 50px;
    position: relative;
    bottom: 10px;
    font-weight: bolder;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

.temp{
    display: inline;
    font-size: 40px;
    position: relative;
    bottom: 8px;
    left: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.we-image {
    position: absolute;
    right: 370px;
    top: 110px;
    opacity: 100px;
}

.time {
    float: right;
    margin-right: 50px;
    font-size: 30px;
    position: relative;
    bottom: 30px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    color: royalblue;
}

.date {
    float: right;
    position: relative;
    top: 25px;
    font-size: 25px;
    font-weight: bold;
    left: 125px;
    color: seagreen;
}

.left-container {
    margin: 0 auto;
    width: 25%;
    float: left;
    margin-left: 241px;
    background-color: seagreen;
    opacity: 0.8;
    padding-bottom: 60px;
    border-radius:0 0 0 20px;
}

.right-container {
    width: 40%;
    float: right;
    margin-right: 240px;
    background-color: rgb(55, 153, 233);
    opacity: 0.8;
    padding-bottom: 60px;
    border-radius:0 0 20px 0;
}

.score {
    margin-left: 120px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}

.news {
    margin-left: 180px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}