html(lang='en')
  body
    table.table.table-striped
      tr
        th UId
        th Id
        th Title
        th Body
        tr
          td= element.userId
          td= element.id
          td= element.title
          td= element.body

