<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Contacts App</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" style="margin-right: 30px;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/playerList" style="margin-right: 30px;">Player's List</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/updatePlayer" style="margin-right: 30px;">Update Player</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deletePlayer" style="margin-right: 30px;">Delete Player</a>
      </li>
      
    </ul>
  </div>
</nav>


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" style="text-align:center;">Tennis Player CRUD Application</h1>
            <hr>
            {{#if updated}}
            <center>
                <div class="alert alert-warning" style="width: 50%;">
                    Player updated successfully!
                </div></center>
            {{/if}}
        </div>
        <br>
        <center>
        <form style="width: 30%;" action="/updatePlayer" method="POST">
  <div class="form-group">
    <label for="name">Player Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter your name..." name="name">
  </div>
  
  {{!-- <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control" id="country" placeholder="Enter your country..." name="country">
  </div> --}}

  <div class="form-group">
    <label for="name">Updated Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter your name..." name="newName">
  </div>

   <div class="form-group">
    <label for="country">Updated Country</label>
    <input type="text" class="form-control" id="country" placeholder="Enter your country..." name="newCountry">
  </div><br>
  <button type="submit" class="btn btn-outline-warning">Update Player</button>
</form><br>
</center>
    </div>
     </div> 
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   
</body>
</html>
